:root {
  --border-radius-10: 10px;
  --box-shadow: 0 0 14px rgba(88, 88, 88, 0.16);
  --box-shadow-bottom: rgb(0 0 0 / 20%) -3px 3px 6px;
}
*,
html,
body {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  outline: unset ;
  color:unset ;
}
.box-shadow-bottom{
  box-shadow: var(--box-shadow-bottom);
}
.border-radius-10{
  border-radius: var(--border-radius-10);
  -webkit-border-radius: var(--border-radius-10);
  -moz-border-radius: var(--border-radius-10);
  -ms-border-radius: var(--border-radius-10);
  -o-border-radius: var(--border-radius-10);
}
.box-shadow{
  box-shadow: var(--box-shadow);
}
.app-body{
  max-width: 1200px;
  margin: auto ;
}